# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules/
/node_modules/.cache


# testing

# production
/build

# misc

#backups
/backups


package-lock.json
debug.log